html,
body {
  font-family: monospace;
  font-size: 18px;
  background: #1e1e1e;
  color: #f8f8f2;
}

a {
  color: #a6e22e;
  text-decoration: none;
  margin-right: 0.5rem;
}

a:hover,
a:focus-within {
  outline: none;
  background: #a6e22e;
  color: #1e1e1e;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 1.5rem;
}

ul {
  line-height: 1.8rem;
}

footer,
header {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

header {
  font-weight: bold;
  border-bottom: 0.05rem solid #f8f8f2;
}

footer {
  border-top: 0.05rem solid #f8f8f2;
}
